html,
body{
    background-image: url('../img/virtus.jpg');
    background-size:cover;

    width: 100%;
    height: 100%;
    margin: 0;
}

nav{

    height: 100%;
    padding-left: 22%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.option{
    float: left;
    padding-right: 13%;
    padding-top: 1%;
    padding-bottom: 1%;

}
.wrapper{

    height: 100% !important;
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    background-color: rgba(255,255,255,0.3);
}

header{
    font-size: 250%;
    /*color: white;*/
    text-align: center;
}


fieldset{
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgba(200,200,200, 0.7);
  border-radius: 25px;
}
